@import "../utils/variable.module";
.header {
  position: sticky;
  width: 100%;
  top: 0px;
  background-color: #ffffff90;
  padding: 1rem 0;
  // z-index: 9;
  backdrop-filter: blur(50px);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;

    h2 {
      font-weight: 600;
      font-size: 20px;
    }

    a {
      background-color: blue;
      color: $white;
      font-size: 12px;
      border-radius: 15px;
      padding: 0.5em 1em;
    }
  }
}

.hero_detail {
  margin-top: 80px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding: 2rem 0;

  div {
    max-width: 920px;
    margin: 0 auto;
    width: 100%;

    > h1 {
      font-size: 80px;
    }
  }
}
