@import "../../utils/variable.module";

.appleTradeSec {
  .header {
    position: sticky;
    width: 100%;
    top: 0px;
    padding: 1rem 0;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 920px;
      width: 100%;
      margin: 0 auto;

      h2 {
        font-weight: 600;
        font-size: 20px;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        p {
          color: gray;
          font-size: 12px;
        }

        a {
          background-color: blue;
          color: $white;
          font-size: 12px;
          border-radius: 15px;
          padding: 0.5em 1em;
        }
      }
    }
  }
  .sec_1 {
    text-align: center;
    margin-top: 100px;

    img {
      text-align: center;
      padding-bottom: 1rem;
    }
    h1 {
      line-height: 1;
      text-align: center;
      max-width: 700px;
      width: 100%;
      font-size: 50px;
      margin: 0 auto;
      font-weight: 600;
    }

    p {
      max-width: 830px;
      margin: 0 auto;
      font-size: 20px;
      margin-top: 3rem;
    }
  }
  .sec_2 {
    margin-top: 100px;
  }
}
.sec_3 {
  background-color: $white-2;
  padding: 5rem;
  margin-top: 7rem;

  h1 {
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
  }

  p {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.7rem;
    padding-top: 2rem;
  }
}
