.shop {
  padding: 0 6rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;

  h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .cart_box {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 3rem;
    margin-top: 40px;

    .swipe_me {
      width: 1050px;

      img {
        width: 100%;
        border-radius: 20px;
        height: 100%;
      }
    }
  }
}
