@import "../../utils/variable.module";
.btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  a {
    color: $blue;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
