.div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;

  .text {
    font-size: 6rem;
    opacity: 0.5;
    font-weight: 400;
    color: transparent;
    -webkit-text-stroke: 1px black;
    z-index: 99;
  }
}
