@import "../../utils/variable.module";
.btn_wrp {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    width: 100vw;
    padding: 0 1rem;
  }

  .button {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    border: none;
    padding: 1rem 2.5rem;

    @include mobile {
      align-items: center;
      justify-content: center;
      padding: 1rem 1rem;
    }

    img {
      width: 60px;
      height: 70px;

      fill: red;
    }

    p {
      font-size: 1rem;

      @include mobile {
        display: none;
      }
    }
  }
}

.tab1_content {
  background-color: $white-2;
  max-width: 900px;
  padding: 3rem 5rem;
  width: 100%;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 3rem;
  height: 500px;

  @include mobile {
    margin: 2rem 1rem;
    padding: 2rem;
    width: fit-content;
    height: fit-content;
  }

  .row {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    justify-content: center;

    @include mobile {
      flex-direction: column-reverse;
      gap: 2rem;
    }

    .left {
      max-width: 650px;
      flex: 1;

      @include mobile {
        // max-width: 300px;
        width: 100%;
      }

      h1 {
        font-size: 1.5rem;
        color: $white-ish;
        line-height: 1;
        font-weight: 500;

        @include mobile {
          font-size: 1.2rem;
        }
      }

      table {
        width: 100%;
        margin-top: 2rem;
        border-collapse: collapse;

        td {
          padding: 0.4rem 0;
          font-size: 1rem;
        }
        .thead {
          tr {
            color: $gray;

            .td {
              font-size: 0.7rem !important;
            }
            .td_l {
              max-width: 50px;
              text-align: right;
            }
          }
        }

        .tbody {
          tr {
            .td_s {
              text-align: right;
            }

            td {
              border-bottom: 1px solid $gray;
            }

            .td_ss {
              border-bottom: none !important;
            }
          }
        }
      }

      button {
        background-color: $blue;
        color: $white;
        padding: 0.7em 1.2em;
        border-radius: 50px;
        margin-top: 2rem;
        border: none;
        font-size: 1rem;
      }
    }

    .right {
      flex: 1;
      max-width: 700px;
      width: 100%;

      @include mobile {
        width: 100%;
        align-self: flex-start;
        justify-self: flex-start;
      }

      img {
        height: 400px;
        width: 100%;
        object-fit: contain;
        object-position: center;

        @include mobile {
          width: 150px;
          height: 100px;
          align-self: flex-start;
          justify-self: flex-start;
        }
      }
    }
  }
}
