$white-ish: rgba(22, 22, 23, 0.8);
$white-ish-2: #e8e8ed;
$gray: #99999d;
$black: #000000;
$white: #fff;
$white-2: #f5f5f5;
$blue: #06c;
$mobile: 767px;
$tablet: 768px;

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) and (max-width: 1023px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    @content;
  }
}

@mixin nav {
  @media screen and (max-width: 830px) {
    @content;
  }
}
